@import "./index.scss";

.SearchField {
  position: relative;
  font-size: 0.8em;
  &__input {
    width: 8em;
    height: $search-height;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid color(secondary);
    text-align: right;
    color: color(title);
    background: none;
    outline: none;

    @include small {
      transition: width 0.5s;
    }

    &:focus,
    &:hover {
      @include small {
        width: 12em;
      }
    }
    &:active {
    }
  }
}
.founded-list {
  &:empty {
    display: none;
  }
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  width: 8em;
  max-height: 75vh;
  overflow: auto;
  top: calc(#{$search-height} + 4px);
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-color: #ffe;

  @include small {
    width: 12em;
  }

  &__item {
    padding: 0.3em 0.5em;
    margin: 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &:last-of-type {
      border-bottom: unset;
    }
  }
  &__link {
    text-decoration: none;
    color: rgb(0, 102, 204);

    &:hover {
      color: color(primary);
    }
  }
  &__not-found {
    padding: 0.3em 0.5em;
  }

  &_hidden {
    display: none;
  }
  &_visible {
    display: block;
  }
}
